<header class="header">
  <div class="header-brand text-center py-4">Ghibli Stuffs</div>
  <nav class="header-nav text-3xl flex gap-4 justify-center text-white">
    <div class="header-nav-item cursor-pointer" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</div>
    <div class="header-nav-item cursor-pointer" routerLink="movies" routerLinkActive="active">Movies</div>
    <div class="header-nav-item cursor-pointer" routerLink="register" routerLinkActive="active">Register</div>
  </nav>
</header>
