@if(movie()) {
  <div class="film-card rounded-3xl relative"
       [ngClass]="{'border-4 border-green-500 border-solid': movieScore() > 90}"
  >
    <img class="rounded-3xl" [src]="movie()?.image" alt="">
    <div class="top-0 left-0 h-full w-full absolute bg-gradient-to-t from-ng-primary to-ng-dark opacity-25 z-10 rounded-3xl"></div>
    <button class="absolute z-20 bottom-4 w-full bg-red-500" (click)="deleteFilm(movie()?.id)">Delete</button>
    <button class="absolute z-20 bottom-10 w-full bg-ng-accent" (click)="buyTicket(movie()?.id)">Buy Ticket</button>
  </div>
}
